<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sorry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link href="/css/browser_not_supported.css" rel="stylesheet">

  </head>
  <body>
<div id="browser-not-supported-dialog" class="dialog">
  <div class="inner">

    <div class="content">
      <h1>Sorry!</h1>
      <p>Your browser does not support all the functions required by this site. Please download and use the latest <a href="http://www.google.com/chrome/" title="Google Chrome">Chrome</a>, <a href="http://www.mozilla.com/" title="Firefox">Firefox</a>, <a href="http://www.apple.com/safari" title="Safari">Safari</a>, or <a href="http://www.opera.com/" title="Opera">Opera</a> browser instead, and make sure <a href="http://enable-javascript.com/" target="_blank">javascript is enabled</a>.</p>

      <ul>
        <li class="chrome"><a href="http://www.google.com/chrome/" title="Google Chrome"></a></li>
        <li class="ff"><a href="http://www.mozilla.com/" title="Firefox"></a></li>
        <li class="safari"><a href="http://www.apple.com/safari" title="Safari"></a></li>
        <li class="opera"><a href="http://www.opera.com/" title="Opera"></a></li>
      </ul>
    </div>
  </div>
</div>

  </body>
</html>
