 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="A personal shopping and inventory-tracking device based on the Raspberry Pi" />
  <meta name="author" content="Banrai LLC" />
  <!--<link rel="icon" href="/images/favicon.ico">-->
  <title>{{.Title}}</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/ui.css" rel="stylesheet" />
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
  <![endif]-->
  <link href="/css/font-awesome.min.css" rel="stylesheet" />
 </head>
