<div id="modalWindow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
	  <div class="modal-header bg-danger">
	    <button class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
		<h3 class="modal-title" id="modalLabel"><span id="modalTitle"></span></h3>
      </div>
      <div class="modal-body">
	    <h4><span id="modalMessageHeader"></span></h4>
		<p><span id="modalMessage"></span></p>
      </div>
      <div class="modal-footer">
	<a id="modalContinue" style="display:none" class="btn btn-default"><i class="fa fa-check"></i> <span id="modalContinueButton">Confirm</span></a>
        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> <span id="modalDismissButton">Close</span></a>
      </div>
    </div>
  </div>
</div>
